$color-bgPrimary:#212529cf;
$color-btn-nav:#0d00ff;
$color-gmail:rgba(255, 225, 0, 0.951);
$color-ig:rgb(193, 53, 132);
$color-wsp:rgba(37, 211, 101, 0.904);
$color-body:#f2eeee;
$color-bgSecondary:rgb(226,227,229);